---
name: updatecli

on:
  workflow_dispatch:
  schedule:
    # Run every 15minutes
    - cron: '*/15 * * * *'
  push:
  pull_request:
jobs:
  updatecli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Diff
        uses: updatecli/updatecli-action@v1
        with:
          command: diff
          flags: "--config ./updatecli/updatecli.d --values ./updatecli/values.github-action.yaml"
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Apply
        uses: updatecli/updatecli-action@v1
        if: github.ref == 'refs/heads/production'
        with:
          command: apply
          flags: "--config ./updatecli/updatecli.d --values ./updatecli/values.github-action.yaml"
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
